@using Dongdongdongman.Models;
@model HomeViewModel
@{
    ViewBag.Title = "Index";
    var i = 1;
}
<style>
    a {
        color: black;
    }
</style>
<div id="banner_box">
    <div id="loop_container">
        <div class="loop_slide_box">
            <ul style="padding-left:0px;">
                @foreach (var it in Model.Te)
                {
                    <li class="cur">
                        <a href="#" target="_blank" data-little="@it.Comic_background.Trim()" data-src="@it.Comic_background.Trim()" data-call="@it.Comic_name.Trim()"></a>
                    </li>
                }

            </ul>
        </div>
        <!-- 轮播选项 -->
        <div class="fl loop_choose">
            <!-- 轮播图标题 -->
            <div class="loop_tit">
                <a href="javascript:;" target="_blank"></a>
            </div>
            <!-- 轮播图标题 end -->
            <!-- 轮播图小图及左右按钮 -->
            <div class="loop_pagination">
                <div class="fl pagination_btn pagination_prev"></div>
                <div class="fl loop_focus_pic_box">
                    <ul class="overflow little_pic" style="padding-left:0px;"></ul>
                </div>
                <div class="fl pagination_btn pagination_next"></div>
            </div>
            <!-- 轮播图小图及左右按钮 end -->
        </div>
        <!-- 轮播选项 end -->
    </div>
    <div class="hot__mask_bg_box"></div>
    <div class="fl all_hottest">
        <div class="fl all_hot">
            <div class="overflow hot_tab">
                <h2 class="fl hot_tit" style="margin-top:0px;">全站最热</h2>
                <a href="javascript:void(0);" class="fl hot_rank_tab_up hot_tab_btn cur">全部</a>\
            </div>
            <div class="overflow hot_comic_cut hot_comic_all lazyload">

                <ul class="overflow hot_comic_list" style="width:220px;height:333px;padding-left:0px;">
                    @foreach (var it in Model.Nc)
                    {

                        <li class="hot_comic_detail">
                            <span class="fl hot_num hot_num_orange">@i</span>
                            <div class="hot_comic_box">
                                <p class="overflow hot_comic_show"><span class="fl hot_comic_tit">@it.Comic_name.Trim()</span></p>
                                <div class="hot_comic_hide">
                                    <a href="#" target="_blank" class="fl hot_comic_img">
                                        <img xsrc="@it.Comic_cover" src="@it.Comic_cover" alt="" />
                                    </a>
                                    <div class="fl hot_comic_content">
                                        <a href="#" class="comic_tit" target="_blank">@it.Comic_name.Trim()</a>
                                        <div class="comic_style">
                                            <span class="fl diamonds">@it.Contents</span>
                                            <span class="fl diamonds">@it.Forms</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        i++;
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="v5_comic_list comic_list_qy">
    <div class="fl comic_content">
        <div class="comic_content_tit lazy_parent">
            <h2>最近更新漫画</h2>
            <ul class="fl comic_choose">
                <li class="rank_tab lazy_cut cur">全部</li>

            </ul>
            <a href="#" target="_blank" class="fr comic_look_more">更多</a>
        </div>
        <div class="overflow comic_list_slide_box lazy_load">
            <div class="cutUl lazyload cut1">
                <ul class="comic_all" style="padding-left:0px;">
                    @foreach (var it in Model.uc)
                    {
                        <li>
                            <!--  -->
                            <!--  -->
                            <a href="#" class="comic_pic" target="_blank">
                                <img xsrc="@it.Comic.Comic_cover" alt="" src="@it.Comic.Comic_cover" title="@it.Comic.Comic_name.Trim()" />
                            </a>
                            <a href="#" class="comic_tit" target="_blank" title="@it.Comic.Comic_name.Trim()"><i class="ico_rec"></i>@it.Comic.Comic_name</a>

                        </li>
                    }
                </ul>
                <div class="comic_slide_prev"></div>
                <div class="comic_slide_next"></div>
            </div>
        </div>

        <div class="mod-warp" style="    margin-bottom: 10px;background-color: white;box-shadow: 3px 3px 5px #aaaaaa;width: 1245px;padding-bottom: 30px;">
            <div id="mark-" class="m-vd-list  mod-vd-normal mod-vd-lay-c22  " style="width: 1200px;margin-left: 50px;text-align: center; ">
                <h2 class="mod-h2-tit fix">
                    <a class="tit ">新番来袭</a>
                    <div class="tit-ad">
                        <div class="ad-wrap" data-deliver="ws_c_nh"></div>
                    </div>
                </h2>

                <div class="mod-wrap-in " data-style="c22">
                    <div class="mod-vd-i first  ">
                        <div class="pic">
                            <a data-nid="5" data-bid="470" data-cid="21745399" data-priority="1" data-gtype="cartoon" href="#" title="@Model.vo.FirstOrDefault().Video_name" target="_blank" data-id="327715">
                                <img src="@Model.vo.FirstOrDefault().Video_pic.Trim()" alt="@Model.vo.FirstOrDefault().Video_name" class=""><span class="shadow"><i class="tip">全 @Model.vo.FirstOrDefault().Video_nums 集 </i></span>            <span class="mask">
                                    <i class="play-btn"></i>
                                </span>
                            </a>
                        </div><div class="info">


                            <h3 class="tit">
                                <a data-nid="5" data-bid="470" data-cid="21745399" data-priority="1" href="#" data-id="" title="@Model.vo.FirstOrDefault().Video_name" target="_blank">@Model.vo.FirstOrDefault().Video_name<span>[全 @Model.vo.FirstOrDefault().Video_nums 集]</span></a>
                            </h3><p class="desc">@Model.vo.FirstOrDefault().Video_intro</p>
                        </div>
                    </div>
                    @foreach (var it in Model.vo)
                    {
                        <div class="mod-vd-i  ">
                            <div class="pic">
                                <a data-nid="5" data-bid="470" data-cid="21627940" data-priority="2" data-gtype="cartoon" href="#" title="@it.Video_name" target="_blank" data-id="321807">
                                    <img src="@it.Video_pic.Trim()" alt="@it.Video_name" class=""><span class="shadow"><i class="tip">全 @it.Video_nums </i></span>            <span class="mask">
                                        <i class="play-btn"></i>
                                    </span>
                                </a>
                            </div><div class="info">


                                <h3 class="tit">
                                    <a data-nid="5" data-bid="470" data-cid="21627940" data-priority="2" href="#" data-id="" title="@it.Video_name" target="_blank">@it.Video_name</a>
                                </h3><p class="desc">@it.Video_intro</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="ui-special-background-box" style="margin-top:500px;">
    <div class="ui-layout c">
        <div type="A" class="ui-special-box">
            <div class="ui-special-head-box">
                <h2>2F GSC新品</h2>
                <a href="#">查看更多</a>
            </div>
            <div type="A" class="ui-special-contents-box">
                <div class="list">
                    @foreach (var it in Model.ig)
                    {
                        <a title="@it.Goods_name" href="#" class="item good" >
                            <div class="cover">
                                <img src="@it.Goods_photo.Trim()">
                            </div>
                            <div class="info-box">
                                <h2 style="padding-top:0px;">@it.Goods_name.Trim().ToString()</h2>
                                <b class="price">@it.Goods_price</b>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@Styles.Render("~/Content/All_index")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/All_Index")



