<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>咚咚咚动漫网</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("咚咚咚动漫", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div><!--shiyonhui-->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("首页", "Index", "Login")</li>
                    <li>@Html.ActionLink("动漫", "About", "Login")</li>
                    <li>@Html.ActionLink("漫画", "Contact", "Home")</li>
                    <li>@Html.ActionLink("商城", "Contact", "Home")</li>
                    <li>@Html.ActionLink("UP主专区", "Contact", "Home")</li>
                </ul>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a class="nav-login" href="javascript:;"> 登陆</a></li>
                        <li>@Html.ActionLink("注册", "Add", "Login")</li>
                    </ul>
                </div>
            </div>
           
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <div class="login-form">
            <div class="login-header">
                <a href="javascript:;" title="关闭" class="login-close close">×</a>
               <div class=""> <h3 class="loginlabel">用户登录</h3>
                </div>
                <hr>
            </div>
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                <form action="@Url.Action("Login")" method="get">
                    <div class="form-group">
                        <label class="control-label col-md-3">用户名</label>
                        <input type="text" class="uname form-control col-md-9" id="uname" name="uname" autocomplete="off" spellcheck="false" placeholder="请使用注册邮箱或手机号登录">
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">密码</label>
                        <input type="password" class="upwd form-control col-md-9" id="upwd" name="upwd" autocomplete="off" spellcheck="false" placeholder="请输入密码" class="">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" name="checkname" id="checkid" onchange="changeval()" value="0">下次自动登录</label>
                            <div class="pull-right">
                                <a href="" class="text-right">忘记密码？</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-lg btn-block">登    录</button>
                    </div>
                    <div class="form-group">
                        <a href="javascript:;" class="register-btn btn btn-info btn-lg btn-block" role="button">注册新账号</a>
                    </div>
                </form>
            </div>
        </div>
        ><div class="login-form-mask"></div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Login_Layout")
    @Scripts.Render("~/bund")
    @RenderSection("scripts", required: false)
</body>
</html>
