
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>咚咚咚动漫后台管理系统</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/shiyonghui/font-awesome.min.css")
    @Styles.Render("~/Content/shiyonghui/style.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/shiyonghui/Admin_Index.js")

</head>
<body>
    <div class="sidebar  mm-menu mm-horizontal mm-offcanvas">
        <div class="sidebar-collapse mm-panel mm-opened mm-current" id="mm-0">
            <div class="sidebar-header t-center" style="height:80px;">
                <h1 class="logo">
                    咚咚咚
                    <span>管理员</span>
                </h1>
                <span class="slogan">后台管理系统</span>
            </div>
            <div class="sidebar-menu" style="height:540px;padding-top:22px;">
                <ul class="nav nav-sidebar">
                    <li class="guanli"><a href="#"><i class="fa fa-file-text"></i><span class="text">商城管理</span><span class="fa fa-angle-down pull-right"></span></a><ul class="nav sub"><li><a href="@Url.Action("Good_List","admin")"><i class="fa fa-car"></i><span class="text">商品列表</span></a></li><li><a href="#"><i class="fa fa-car"></i><span class="text">下架商品</span></a></li><li><a href="@Url.Action("Comment_Goods_Dele","admin")"><i class="fa fa-car"></i><span class="text">删除商品评价</span></a></li></ul></li>
                    <li class="guanli"><a href="#"><i class="fa fa-file-text"></i><span class="text">漫画管理</span><span class="fa fa-angle-down pull-right"></span></a><ul class="nav sub"><li><li><a href="#"><i class="fa fa-car"></i><span class="text">下架漫画</span></a></li><li><a href="#"><i class="fa fa-car"></i><span class="text">删除评论</span></a></li></ul></li>
                    <li class="guanli"><a href="#"><i class="fa fa-file-text"></i><span class="text">动漫管理</span><span class="fa fa-angle-down pull-right"></span></a><ul class="nav sub"><li><li><a href="#"><i class="fa fa-car"></i><span class="text">下架动漫</span></a></li><li><a href="#"><i class="fa fa-car"></i><span class="text">删除评论</span></a></li></ul></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mm-page">
        <div class="navbar" role="navigation">
            <div class="container-fluid">
                <h3 class="text-left">@Session["admin_name"].ToString()</h3>
            </div>
        </div>
        <div class="container-fluid content">
            <div class="row">
                <div class="main " style="min-height: 728px;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>