@model Models.User_detail
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
@*<div class="user_de_all">
        <div class="container">
            <div class="user_de_ne">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        昵称:<p>@Model.User_name</p>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        自我简介:<p>@Model.User_name</p>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        真实姓名:<p>@Model.User_realname</p>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        邮箱:<p>@Model.User_email</p>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>

    </div> </div>*@
<div class="row profile" id="user_info">
    @Html.Partial("Detail_user", Model)

</div>
@Styles.Render("~/Content/shiyonghui/User_detail.css")
@Styles.Render("~/Content/shiyonghui/style.min.css")
@Styles.Render("~/Content/shiyonghui/font-awesome.min.css")
