@model Models.User_detail
<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-center">
                <img class="img-profile" style="max-height:200px;" onerror="javascript:this.src='/Img/kongbai.jpg';" src="@Model.User_head">
            </div>
            <h2 class="text-center"><strong>@Model.User_name</strong></h2>
            <hr>
            <div class="row text-center"><div class="col-xs-4"><div><strong>@Model.User.FirstOrDefault().Subscribe.Count()</strong></div><div>订阅</div></div><div class="col-xs-4"><div><strong>@Model.User.FirstOrDefault().Reward.Count()</strong></div><div>打赏</div></div><div class="col-xs-4"><div><strong>@Model.User.FirstOrDefault().Follow.Count()</strong></div><div>订阅</div></div></div>
            <hr>
            <h4>
                <strong>基本信息</strong>
            </h4>
            <ul class="profile-details">
                <li><div><i class="fa fa-thumbs-up"></i>身份</div>用户</li>
                <li><div><i class="fa fa-user"></i>昵称</div>@Model.User_name</li>
            </ul>
            <hr>
            <h4>详细信息</h4>
            <ul class="profile-details">
                <li><div><i class="fa fa-envelope"></i>E_mail</div>@Model.User_email</li>
                <li><div><i class="fa fa-user-secret"></i>Realname</div>@Model.User_realname</li>
                <li><div><i class="fa fa-user-secret"></i>自我简介</div>@Model.User_intro</li>
            </ul>

        </div>
    </div>
</div>
<div class="col-md-7">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><i class="fa fa-heart-o red"></i><strong>修改信息</strong></h2>
        </div>
        <div class="panel-body">
            @using (Ajax.BeginForm("Xiugai_de", "User", new AjaxOptions { UpdateTargetId = "user_info", HttpMethod = "post", InsertionMode = InsertionMode.Replace }, htmlAttributes: new { @class = "form-vertical hover-stripped" }))
            {<div class="form-group">
                    <label class="control-label">用户名称</label>
                    <input type="text" class="form-control" value="@Model.User_name" disabled>

                </div>
                <div class="form-group">
                    <label class="control-label">真实姓名</label>
                    <input type="text" class="form-control" name="real_name" value="@Model.User_realname">
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="email" class="form-control" name="Email" value="@Model.User_email">
                </div>
                <div class="form-group">
                    <label class="control-label">自我简介</label>
                    <textarea class="form-control" name="intro" rows="3"></textarea>
                </div>

                <div class="form-group pull-right">
                    <button class="btn btn-primary" type="submit">修改</button>
                </div>

            }
        </div>
    </div>

</div><!--/.col-->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")