@model Models.User_detail
<div class="head">
    <div class="wrapper">
        <div class="h-inner" style="background-image:url(../../Img/背景.jpg)">
            <div class="h-gradident"></div>
        
        <div class="h-user">
            <div class="h-info clearfix">
                <div class="h-avatar">
                    <img src="@Model.User_head" id="h-avatar">
                    <a href="javascript:void(0);"  target="_blank" class="avatar_cover"  data-toggle="modal" data-target="#myModal">更换头像</a>
                </div>
                <div class="h-basic">
                    <div>
                        <span id="h-name">@Model.User_name</span>
                    </div>
                    <div class="h-basic-spacing">
                        <h4 title="@Model.User_intro" class="h-sign" style="display:none;"></h4>
                        <input class="" id="h-sign" type="text" placeholder="这个作者很懒，什么也没留下" maxlength="60">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="n" id="navigator">
    <div class="wrapper">
        <div class="n-inner clearfix">
            <div class="n-tab-links">
                <a href="@Url.Action("detail","User")" class="n-btn n-index n-fans n-404 router-link-exact-active router-link-active active">
                    <span class="fa fa-home" style="color:aquamarine;width:20px;height:20px;"></span><span class="n-text">主页</span>
                </a>
         
            
                <a href="@Url.Action("Address","User")" class="n-btn n-dynamic">
                    <span class="fa fa-address-card" style="color:aquamarine;width:20px;height:20px;"></span><span class="n-text">收货地址</span>
                </a>
            
                <a href="@Url.Action("Order","User")" class="n-btn n-video n-audio n-article n-album ">
                    <span class="fa fa-first-order" style="color:aquamarine;width:20px;height:20px;"></span><span class="n-text">订单</span>
                </a>
                <a href="@Url.Action("ShoppingCart","User")" class="n-btn n-channel ">
                    <span class="fa fa-video-camera" style="color:aquamarine;width:20px;height:20px;"></span><span class="n-text">购物车</span>
                </a>
            
                <a href="@Url.Action("Collection","User")" class="n-btn n-channel ">
                    <span class="fa fa-video-camera" style="color:aquamarine;width:20px;height:20px;"></span><span class="n-text">收藏</span>
                </a>
            
          
                <a href="@Url.Action("Follow","User")" class="n-btn n-favlist ">
                    <span class="fa fa-book" style="color:aquamarine;width:20px;height:20px;"></span><span class="n-text">关注</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">修改头像</h4>
            </div>
            <form action="@Url.Action("Xiugai_img","User")" method="post" enctype="multipart/form-data">
                <div class="modal-body" style="height:340px;">
                    <div class="control-group row">
                        <label class="col-md-3 col-md-offset-1  control-label span3"></label>
                        <div class="col-md-6">
                            <img src="" id="img1" style="min-width:100px;min-height:100px;max-width:400px;max-height:800px;">
                        </div>

                    </div>
                    <div class="control-group row">

                        <label for="requirement" class="col-md-offset-1 col-md-3 control-label span3">头像上传</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input id="photoCover" class="form-control" readonly type="text">
                                <label class="input-group-btn">
                                    <input id="file" type="file" name="file" style="left: -9999px; position: absolute;">
                                    <span class="btn btn-default" style="line-height:1.1;">Browse</span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" >上传</button>

                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/shiyonghui/User_Index.js")